# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyD22o_UCJ7xrbawNuIlACvFtbQB9HeUn9g
VITE_FIREBASE_AUTH_DOMAIN=jototur-2f755.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=jototur-2f755
VITE_FIREBASE_STORAGE_BUCKET=jototur-2f755.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=122916103662
VITE_FIREBASE_APP_ID=1:122916103662:web:bd7ef6e0c6d7be0a2bdaff
VITE_FIREBASE_MEASUREMENT_ID=G-YSH7WBLZYB

# WhatsApp Configuration
VITE_WHATSAPP_NUMBER=962788078118

# Gemini API Configuration
GEMINI_API_KEY=your_groq_api_key_here
